/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #e666ac;
  background-color: #f1aad4;
}

#links {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #e666ac;
  background-color: #f1aad4;
}

.output {
  text-align: center;
  padding: 50px;
  margin-bottom: 10px;
  width: 100px;
  min-height: 50px;
  border: dotted 3px #33051e;
  background-color: #e60086;
}